* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}

.canvas {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 70vh;
  width: 70vw;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 2rem;
  transition: ease 500ms;
}

.menu {
  width: 90%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 2rem;
}

.color-btn {
  border-radius: 10px;
  padding: 0.3rem 1.5rem;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  border: 1px solid #fafafa;
  box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2) inset,
    4px 4px 4px rgba(255, 255, 255, 0.2) inset;
}

.color-btn:hover {
  opacity: 80%;
  transition: ease 150ms;
}

.add-new {
  box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2) inset,
    4px 4px 4px rgba(255, 255, 255, 0.2) inset;
  padding: 0.3rem 1.5rem;
  border-radius: 10px;
  background-color: rgb(194, 194, 194);
  border: 1px solid lightslategray;
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  align-items: center;
}

.white {
  background-color: white;
  color: black;
}
.grey {
  background-color: darkgray;
}
.black {
  background-color: black;
}
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.aqua {
  background-color: aqua;
}
.blue {
  background-color: blue;
}
.purple {
  background-color: purple;
}

#custom-color {
  background-color: rgb(194, 194, 194);
  width: 1.5rem;
  border: none;
  margin: none;
  padding: none;
}

#add-btn {
  border: none;
  background-color: transparent;
  color: black;
  padding: 0 6px;
  border-radius: 999px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-btn:hover {
  background-color: rgb(164, 165, 167);
  transition: ease 150ms;
}

@media (max-width: 1240px) {
  .buttons {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 650px) {
  .buttons {
    grid-template-columns: repeat(3, 1fr);
  }
}
